
body{
    margin: 0;
}
/* nav */
header{
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f1efef;
}
.nav-section{
    gap: 32px;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flex-nav{
    font-family: 'Calistoga', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
}
.flex-nav li{
    margin: 10px;
}
.nav-section .brand{
    display: block;
    width: 150px;
    /* height: 100px; */
}
ul li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
/* landing images */
.landing-img{
    height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/home-vineyard-img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: top right;
position: relative;
/* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
}
.tagline{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Calistoga', cursive;
    color: #f1efef;
    gap: 32px;
    
}
.border{
    width: 150px;
    height: 150px;
    border: 3px solid #f1efef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}
.award{
    font-size: 20px;
    padding: 16px;
}
.blurb{
    font-size: 36px;
}