h1{
    font-size: 36px;
    margin: 0;
}
h2{
    font-size: 28px;
    margin: 0;
}
body{
    margin: 0;
}
    .white-section{
        background-color: #f1efef;

    }

/* nav */
header{
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f1efef;
}
.nav-section{
    gap: 32px;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flex-nav{
    font-family: 'Calistoga', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
}
.flex-nav li{
    margin: 10px;
}
.nav-section .brand{
    display: block;
    width: 150px;
    /* height: 100px; */
}
ul li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
/* landing images */
.landing-img{
    height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/home-vineyard-img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: top right;
position: relative;
/* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
}
.tagline{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Calistoga', cursive;
    color: #f1efef;
    gap: 32px;
    
}
.border{
    width: 150px;
    height: 150px;
    border: 3px solid #f1efef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}
.award{
    font-size: 20px;
    padding: 16px;
}
.blurb{
    font-size: 36px;
}
/* vineyards section */
.green-section{
    background-color: #14281D;
    color: #f1efef;
    text-align: center;
    justify-content: center;
   
}
.green-section h1{
    padding: 16px;
}
.vineyard-pictures{
    display: flex;
    flex-direction: row;
    color: #f1efef;
    padding: 2px;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.vineyard-pictures img{
height: 25em;
width: 25em;
}
.vineyard-pictures h2{
    color: #f1efef;
    padding: 20px;
    text-decoration: underline;
}
/* visit us section */
#visit-us{
    padding: 32px 15px;
}
.flex-wrap{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
.visit-child{
flex: 1;
}
.img-wrapper img{
    max-height: 500px;
    max-width: 550px;
}
.text-wrapper p{
    min-width: 200px;
    max-width: 500px;
}
.ct-button{
    max-width: 167px;
    min-height: 40px;
    border: #9F7703 solid 1px;
    border-radius: 36px;
    background-color: #C59407;
    align-items: flex-end;
}
/* mini shop area  */
.shop-parent{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    /* align-items: stretch; */
    min-height: 300px;

}
.flex-shop{
    flex: 1;
    margin: 5px;
}
.flex-shop img{
    max-width: 225px;
    max-height: 225px;
}
#shop{
    padding: 32px;
    justify-content: center;

}
#shop h1{
    padding: 32px 0;
}
.shop-parent a{
    color: #f1efef;
    font-size: 28px;
}